<form action="SearchByName">
    <h3>Search Pokemon by name</h3>
    <input type="text" name="name" />
   <input type="submit"/>
</form>

<br />
<form action="SearchByNumber">
    <h3>Search Pokemon by number</h3>
    <input type="number" name="pokeNum" />
    <input type="submit" />
</form>