<form style="" class="centerElement" name="Reg" action="Success" method="post">
            <p><strong><em>Name:</em></strong></p>
            <input type="text" name="FirstName" required />
            <p><em>Email:</em></p>
            <input type="email" name="Email" required />
            <p><em>Phone Number:</em></p>
            <input type="tel" name="Phone"  pattern="^\d{3}-\d{3}-\d{4}$" required/>
            <select>
                <option value="Mi">Michigan</option>
                <option value="NC">North Carolina</option>
                <option value="GA">Georgia</option>
                <option value="Oh">Ohio</option>
            </select>
            <p><em>Password:</em></p> 
            <input type="password" name="password">

            <input type="submit" name="submit" value="Submit">
        </form>